<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

        <title>Find your friends</title>
    </head>

    <body>

        <nav class="navbar navbar-inverse">
          <div class="container">
            <div class="navbar-header">
              <a class="navbar-brand" href="#">Twitter Friends Finder</a>
            </div>
          </div>
        </nav>

        <div class="container">
            <!--{% for comment in comments %}-->
            <!--    <div class="row">-->
            <!--        {{ comment }}-->
            <!--    </div>-->
            <!--{% endfor %}-->

            <div class="row">
                <form action="." method="POST">
                    <textarea class="form-control" name="contents" placeholder="Enter the twitter accaunt"></textarea>
                    <input type="submit" class="btn btn-success" value="Show the map of friends">
                </form>
            </div>

        </div>

    </body>
</html>